#
# Git pull
#
# Input   : django_repo (optional), django_branch, django_root
# Output  : django_repo
# Requires:
#

- name: "Git url (1/2)"
  local_action: "command git config --get remote.origin.url"
  register: "__aux"
  changed_when: false
  when: "django_repo == ''"

- name: "Git url (2/2)"
  set_fact:
    django_repo: "{{ __aux.stdout }}"
  when: "django_repo == ''"

- name: "Git pull"
  git:
    #repo   : "file:///{{ cwd }}"
    repo   : "{{ django_repo }}"
    dest   : "{{ django_root }}"
    version: "{{ django_branch }}"
    accept_hostkey: true
  notify: "reload uwsgi"
